{% extends 'base.html' %}

{% block content %}

    {% if tasks != none %}
        <h3>
            Todas tus tareas pendientes son:
        </h3>

        {% for task in tasks %}
        <section>
            <ul>
                <li>
                    {{task.title}}
                    {% if task.important %}
                    ❗❗❗
                    {% else %}
                    🐢🐢🐢   
                    {% endif %}
                </li>
                <h4>
                    {{task.description}}
                </h4>
                <a href="{% url 'task_detail' task.id %}"><button>Editar</button></a>
                
                <form action="{% url 'task_delete' task.id %}" method="post">
                    {% csrf_token %}
                    <button>Eliminar</button>
                </form>
            </ul>
        </section>
        {% endfor %}
        
        {% else %}
        <h3>NO HAY TAREAS PENDIENTES</h3>
        {% endif %}
        
        
        {% if task_complete != null %}
        
        <h3>
            Las tareas completadas son:
        </h3>
        {% for task in task_complete %}
        <section>
            <ul>
                <li>
                    {{task.title}}
                    {% if task.important %}
                    ❗❗❗
                    {% else %}
                    🐢🐢🐢   
                    {% endif %}
                </li>
                <h4>{{task.description}}</h4>
                <h4>COMPLETADO: {{task.date_completed|date:'M j Y:i'  }}</h4>
            </ul>
        </section>
        {% endfor %}
        
        {% else %}
        <h3>NO HAY TAREAS COMPLETADAS</h3>
    {% endif %}


{% endblock content %}